body {
  overflow: hidden;
  margin: 0;
  font-family: Arial, sans-serif;
}

.dashboard {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-half,
.right-half {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.left-half {
  background-color: #f0f0f0;
}

.right-half {
  background-color: #e0e0e0;
}

.timer {
  background-color: var(--secondary-color);
  border-radius: 50%;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.4s;
}
.sick {
  display: flex;
  flex-direction: column; /* Stack children vertically */
}

.top-section {
  display: flex;
  align-items: center; /* Center items vertically within this container */
  margin-bottom: 10px; /* Add some space below this section */
}

input {
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  background-color: var(--secondary-color);
  border-radius: 5px;
  margin-left: 10px;
}

.timer:hover {
  transform: scale(1.05);
}
.sick {
  display: flex;
  align-items: center;
}

.timer > .time-measure {
  font-size: 38px;
  font-weight: 600;
  color: var(--primary-color);
}

.logout {
  position: absolute;
  top: 20px;
  right: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 4px;
  transition: ease-in-out 0.4s;
}
.logout:hover {
  transform: scale(1.2);
  background-color: #837ffa;
}
#btn-subText {
  font-size: 12px;
  color: rgb(157, 156, 156);
}
#subText {
  font-size: 12px;
  color: rgb(157, 156, 156);
  position: relative;
}
