body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.welcome-page{
    max-width: 400px; /* Limit maximum width for responsiveness */
    text-align: center; /* Center the content horizontally */
}
.options button{
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 16px;
    width: 100%;
    border: none;
    display: block;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}
.options a{
    text-decoration: none;
    display: block;
    width: 80%;
}
.options{
    max-width: 400px; /* Limit maximum width for responsiveness */
    margin: auto; /* Center the div horizontally */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack the items vertically */
    justify-content: center; /* Center the items vertically */
    align-items: center; /* Center the items horizontally */
}