:root{
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #6C68FF;
  --accent-color: rgb(14, 14, 14);
}

body {
  margin: 0;
  font-family: 'Baloo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
